<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Revitget 3D Exporter" Language="1033" Version="1.0.0.0" Manufacturer="Revitget" UpgradeCode="ea8dc39a-5f21-4d3a-8c7e-9b2f1a6d4c5e">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <UIRef Id="WixUI_Minimal" />

    <Feature Id="ProductFeature" Title="Revitget" Level="1">
      <ComponentGroupRef Id="Revit2018Components" />
      <ComponentGroupRef Id="Revit2020Components" />
    </Feature>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="CommonAppDataFolder">
        <Directory Id="Autodesk" Name="Autodesk">
          <Directory Id="Revit" Name="Revit">
            <Directory Id="Addins" Name="Addins">
              
              <!-- Revit 2018 -->
              <Directory Id="Revit2018" Name="2018">
                <Component Id="Revit2018Addin" Guid="7c8d9e0f-1a2b-3c4d-5e6f-7a8b9c0d1e2f">
                  <File Id="Revit2018AddinFile" Source="..\Revitget\bin\Release2018\Revitget.2018.addin" KeyPath="yes" />
                </Component>
                <Directory Id="Revit2018LibDir" Name="Revitget">
                  <Component Id="Revit2018Lib" Guid="8d9e0f1a-2b3c-4d5e-6f7a-8b9c0d1e2f3a">
                    <File Id="Revit2018Dll" Source="..\Revitget\bin\Release2018\Revitget.dll" KeyPath="yes" />
                    <File Id="Revit2018Draco" Source="..\Revitget\bin\Release2018\DracoNet.dll" />
                    <File Id="Revit2018Json" Source="..\Revitget\bin\Release2018\Newtonsoft.Json.dll" />
                  </Component>
                </Directory>
              </Directory>

              <!-- Revit 2020 -->
              <Directory Id="Revit2020" Name="2020">
                <Component Id="Revit2020Addin" Guid="2c6f1b7c-7b74-4f53-9fd9-42f5c1c6c5b0">
                  <File Id="Revit2020AddinFile" Source="..\Revitget\bin\Release2020\Revitget.addin" KeyPath="yes" />
                </Component>
                <Directory Id="Revit2020LibDir" Name="Revitget">
                  <Component Id="Revit2020Lib" Guid="d9a21463-2cf8-4e73-bc63-37a59e3b9b8e">
                    <File Id="Revit2020Dll" Source="..\Revitget\bin\Release2020\Revitget.dll" KeyPath="yes" />
                    <File Id="Revit2020Draco" Source="..\Revitget\bin\Release2020\DracoNet.dll" />
                    <File Id="Revit2020Json" Source="..\Revitget\bin\Release2020\Newtonsoft.Json.dll" />
                  </Component>
                </Directory>
              </Directory>


            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <ComponentGroup Id="Revit2018Components">
      <ComponentRef Id="Revit2018Addin" />
      <ComponentRef Id="Revit2018Lib" />
    </ComponentGroup>
    <ComponentGroup Id="Revit2020Components">
      <ComponentRef Id="Revit2020Addin" />
      <ComponentRef Id="Revit2020Lib" />
    </ComponentGroup>
  </Product>
</Wix>
